
<div class="container mt-4" >
    <h1>Trending Stock List</h1>
    <table class="table">
      <thead>    
      <tr>
          <th scope="col">Stock Name</th>
          <th scope="col">Market Sagment</th>
          <th scope="col">Value</th>  
          <th scope="col">option</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let StockItem of portfollioarr">
          <td >{{StockItem.stockName  | uppercase}}</td>
          <td>{{StockItem.details }}</td>
          <td>{{StockItem.value }}</td>
          <!-- <td><input type="text" placeholder="Qty"  [(ngModel)]="qty" [ngModelOptions]="{standalone: true}"></td> -->
         
          <td>
            <!-- <button class="btn  btn-success" (click)="buystock(StockItem)" (click)="open(content) " >Buy</button> -->
            <button type="button" class="btn btn-danger" (click)="sellStock(StockItem) " (click)="open(sellcontent) ">Sell</button>            
          </td>
        </tr>           
      </tbody>

    </table>
</div>

<ng-template #sellcontent let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Sell Stock</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<form style="margin: 20px;">
        <div class="form-group">
          <label>Stock</label>
          <input readonly type="text" [(ngModel)]="StockName" [ngModelOptions]="{standalone: true} "  class="form-control" id="name" placeholder=""> 
        </div>
        <div class="form-group">
            <label>Market Sagment</label>
            <input readonly type="text" [(ngModel)]="details" [ngModelOptions]="{standalone: true}"  class="form-control" id="name" placeholder="NSE"> 
          </div>
    
        <div class="form-group">
            <label>Value</label>
            <input type="text" class="form-control"  [(ngModel)]="value" [ngModelOptions]="{standalone: true}" id="address" placeholder=""> 
          </div>
    
          <div class="form-group">
            <label>Quantity</label>
            <input type="text" class="form-control " [(ngModel)]="quantity" [ngModelOptions]="{standalone: true}" id="phone" placeholder="Quantity"> 
          </div>
         
      
      </form>
	<div class="modal-footer">
        <button type="submit" (click)="sellstockfromportfollo()" class="btn btn-danger">Sell</button>
	</div>
</ng-template>